.header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
}
#allmap{
	margin-top: 60px;
}
.footer-left{
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 140px;
	height: 140px;
	background:rgba(0,0,0,0.8);
	border-radius:150px;
	padding: 0;
}
.header-top{
	height: 60px;
	border-bottom: solid 1px;
	border-color: #444;
	background:rgba(0,0,0,0.8);
}
.header-right{
	float: right;
	padding: 15px;
	width: 60px;
	height: 60px;
	border-left: solid 1px;
	border-color: #444;
}
.glyphicon-th-list{
	margin-right: 10px;
	top: 0px;
	font-size: 30px;
	color: white;
}
.logo{
	float: left;
	width: 200px;
	height: 60px;
	border: solid 1px;
	border-color: #444;
	font-size: 30px;
	color: #fff;
	padding-left: 30px;
}
.battery{
	width: 150px;
	float: right;
	margin-top: 10px;
	padding-right: 10px;
	opacity: 1;
}
.battery-number{
	color: green;
	font-size: 20px;
	padding: 2px;
}
.battery-level{
	background-color: green;
	font-size: 16px;
	color: white;
	padding: 2px;
}
.glyphicon-sound-dolby{
	font-size: 30px;
	color: white;
}
.signal{
	float: right;
	margin-right: 30px;
	padding: 10px;
}
.glyphicon-signal{
	font-size: 30px;
	color: white;
}
.progress{
	margin-right: 60px;
	height: 3px;
}
.progress-bar{
	height: 100%;
}
.other-view{
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 250px;
	height: 150px;
	background-color: #333;
}
.footer-left-bar{
	position: absolute;
	left: 85px;
	bottom: 10px;
	height: 90px;
	width: 270px;
	background-color: rgba(0,0,0,0.8);
	border-radius:5px;
}
.height-distance{
	width: 170px;
	height: 30px;
	margin-left: 80px;
	border-bottom: solid 1px;
	border-color: #666;
	padding-top: 5px;
}
.text{
	color: #fff;
}
.dis-title{
	margin-left: 10px;
}
.vs-hs{
	width: 200px;
	height: 50px;
	margin-left: 75px;
	padding-top: 15px;
}
.hs-title{
	margin-left: 10px;
}
.back-home{
	position: absolute;
	padding: 8px;
	top: 45%;
	left: 20px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: rgba(0,0,0,0.6);
}
.take-off{
	position: absolute;
	padding: 8px;
	top: 30%;
	left: 20px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: rgba(0,0,0,0.6);
}
.cancel{
	position: absolute;
	padding: 10px;
	top: 60%;
	left: 20px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: rgba(255,0,0,0.7);
}
.control{
	position: absolute;
	padding: 10px;
	top: 40%;
	right: 20px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: rgba(0,0,0,0.6);
}
.glyphicon-cloud-upload{
	font-size: 30px;
	color: white;
}
.glyphicon-home{
	font-size: 30px;
	color: white;
}
.nav-list{
	position: absolute;
	top: 0;
	right: 0;
	width: 500px;
	height: 100%;
	background: rgba(0,0,0,0.8);
	display: none;
}
.nav{
	float: left;
	width: 100px;
}
.nav-content{
	float: right;
	width: 380px;
}
.overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0);
	display: none;
}
.nav-title{
	width: 100%;
	height: 50px;
	text-align: center;
	font-size: 25px;
	color: #fff;
}
.glyphicon{
	font-size: 30px;
	color: #fff;
}
.t{
	color: #fff;
	font-size: 30px;
}
.footer-controller{
	position: absolute;
	bottom: 10px;
	left: 45%;
	width: 170px;
	height: 110px;
}
.turn-up,.turn-down,.turn-left,.turn-right{
	padding: 10px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: rgba(0,0,0,0.6);
}
.turn-left{
	float: left;
	margin-top: 60px;
}
.turn-right{
	float: right;
	margin-top: 60px;
}
.turn-down{
	float: left;
	margin-top: 60px;
	margin-left: 10px;
}
.turn-up{
	position: absolute;
	top: 0;
	left: 60px;
}
#win{
	position: absolute;
	top: 25%;
	left: 30%;
	width: 25%;
	height: 270px;
	display: none;
	background: rgba(0,0,0,0.6);
	border-radius: 6px;
	padding: 10px;
}
.win_text{
	color: white;
	margin: 10%;
}
.win_input{
	margin: 10%;
	width: 80%;
}
.submit_button{
	float: right;
	margin-right: 5%;
}
.cancel_button{
	float: right;
	margin-right: 10%
}
